<p style="color: green"><%= notice %></p>

<%= render @league %>

<h2><%= @league.name%></h2><br>
<h4>League Sport: <%= @league.sport.sport %></h4>

<%= link_to "#{@league.name} Games", customer_league_games_path(@customer, @league) %>

<div>
  <%= link_to "Back to leagues", customer_leagues_path(@customer) %>

</div>
