<h1><%= @user.formatted_name %>'s Record vs <%= @opponent.formatted_name %></h1>

<p>Game Record: <%= @user_game_record %></p>

<p>Match Record: <%= @user_match_record %></p>

<%= link_to "Back to #{@user.formatted_name}'s Profile", customer_user_path(:customer_id, @user) %>