<%= form_with(model: [current_user.customer, @league, game]) do |form| %>
  <div class="mb-3">
    <%= form.label :winner_id, style: "display-block", class: "form-label" %>
    <%= form.collection_select :winner_id, User.order(:first_name), :id, :formatted_name, {include_blank: true}, {class: "form-select"} %>
    <div style="color: red">
      <% if game.errors.include?(:winner_id) %>
        <% game.errors.full_messages_for(:winner_id).each do |error|%>
          <%= error %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="mb-3">
    <%= form.label :winner_score, style: "display-block", class: "form-label"  %>
    <%= form.text_field :winner_score, class: "form-control" %>
    <div style="color: red">
      <% if game.errors.include?(:winner_score) %>
        <% game.errors.full_messages_for(:winner_score).each do |error|%>
          <%= error %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="mb-3">
    <%= form.label :loser_id, style: "display-block", class: "form-label"  %>
    <%= form.collection_select :loser_id, User.order(:first_name), :id, :formatted_name, {include_blank: true}, {class: "form-select"} %>
    <div style="color: red">
      <% if game.errors.include?(:loser_id) %>
        <% game.errors.full_messages_for(:loser_id).each do |error|%>
          <%= error %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="mb-3">
    <%= form.label :loser_score, style: "display-block", class: "form-label"  %>
    <%= form.text_field :loser_score, class: "form-control" %>
    <div style="color: red">
      <% if game.errors.include?(:loser_score) %>
        <% game.errors.full_messages_for(:loser_score).each do |error|%>
          <%= error %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="mb-3">
    <%= form.submit "Create Game", class: "btn btn-success btn-block" %>
  </div>
<% end %>
