<div class="shadow p-3 mb-5 bg-body rounded content-box">
  <h1 class="header-border">Games</h1>

  <p style="color: green"><%= notice %></p>

  <% @games.each do |game| %>
    <%= render game %>
      <div class="shadow p-3 mb-5 bg-body rounded game">
        <div class="text">
          <%=link_to "Game ##{game.id}", customer_league_game_path(@customer, @league, game), class: "text-border" %>: <%= game.winner.formatted_name %> has beaten <%= game.loser.formatted_name %> in a set count of <%=game.winner_score.to_s %> to <%=game.loser_score %>
        </div>
      </div>
  <% end %>
</div>

<div class="new-game">
  <div class="shadow p-3 mb-5 bg-body rounded content-box fixed">
    <h5 class="header-border">Just won a game? Log it here!</h5>
    <%= link_to "New game", new_customer_league_game_path(@customer, @league), class: 'btn btn-primary text-border w-100', data: { turbo_frame: "remote_modal" } %>
  </div>
</div>

