<p style="color: green"><%= notice %></p>

<%= render @game %>

<div>
  <%= link_to "Edit this game", edit_customer_league_game_path(current_user.customer, :league_id, @game) %> |
  <%= link_to "Back to games", customer_league_games_path(current_user.customer, :league_id) %>

  <%= button_to "Destroy this game", customer_league_games_path(current_user.customer, :league_id), method: :delete %>
</div>
