<!DOCTYPE html>
<!--  ADD SIDENAV URLS -->
<html>
  <head>
    <title>Elominous</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="wrapper">

      <div class="sidebar">
        <div class="profile">
          <img src="https://www.rainforest-alliance.org/wp-content/uploads/2021/06/capybara-square-1-400x400.jpg.webp">
          <% if signed_in? %>
            <h3 class="text-border"><%= current_user.formatted_name %></h3>
          <% else %>
            <h3 class="text-border">Please sign in</h3>
          <% end %>
        </div>
        <ul>
          <li>
            <%= link_to root_path, :class => current_class?(root_path) do %>
              <span class="icon text-border"><i class="fas fa-home"></i></span>
              <span class="item text-border">Home</span>
            <% end %>
          </li>
          <li>
            <%= link_to root_path, :class => current_class?(root_path) do %>
              <span class="icon text-border"><i class="fas fa-table-tennis"></i></span>
              <span class="item text-border">Games</span>
            <% end %>
          </li>
          <li>
            <%= link_to root_path, :class => current_class?(root_path) do %>
              <span class="icon text-border"><i class="fas fa-users"></i></span>
              <span class="item text-border">Users</span>
            <% end %>
          </li>
          <li>
            <%= link_to root_path, :class => current_class?(root_path) do %>
              <span class="icon text-border"><i class="fas fa-trophy"></i></span>
              <span class="item text-border">Scores</span>
            <% end %>
          </li>
        </ul>
      </div>
      <div class="contents">
        <%= yield %>
        <%= turbo_frame_tag "remote_modal", target: "_top" %>
      </div>
    </div>
  </body>
</html>
